.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

button.btn.btn-secondary.btn-md.btnSignup {
  background-color: #f8f9fa;
  width: 200px;
  color: black;
  text-align: justify;
  margin-top: 20px;
  margin-left: 30px;
  border: 2px solid #3a51d3;
  text-align: center;
}


button.btn.btn-secondary.btn-md.btnSignup:hover {
  background-color: #3a51d3;
  color: white;
}

.div-loginBtn {
  display: flex;
  justify-content: right;
  text-align: right;
}

.loginHeader {
  margin-top: 30px !important;
  border-bottom: 1px solid #3a51d3;

}

.loginfooter {
  display: flex;
  margin-top: 30px !important;

}

.socialIconfooter {
  margin-top: 10px;

}

a {
  text-decoration: none !important;
  color: #3a51d3 !important;
}

div#navbarNav {
  flex-direction: row-reverse;
}

.headerIMG {
  width: -webkit-fill-available !important;
}

.loginForm {
  margin-left: 68px;
  margin-top: 20px;
  height: 400px;
  width: 461px;
  border-radius: 43px 43px 0px 0px;
  box-shadow: 0px 0px 2px;
}

.loginHeading {
  color: #596eda;
  padding-top: 15px;
  font-weight: bold;

}

.inputText {


  margin-top: 30px;
  padding: 10px 0px;
  border: none !important;
  border-bottom: 1px solid rgb(143, 136, 136) !important;
  border-radius: none !important;
  border-radius: 0px !important;


}

.forgetPass {
  text-align: right;
  padding-right: 55px;
  font-weight: bold;
  margin-top: 15px;

}

.checkBox {
  margin: 40px 0px 0px 70px;
}

label.form-check-label {
  display: table;
  color: #596eda;
}

#exampleCheck1 {
  border: 2px solid #3a51d3;
}

.lognBtn {
  margin: 15px;

}

.imgHeader {
  margin-top: 20px;
}

.gender {
  margin-left: 64px !important;

}

.tabesContaints {
  margin-top: 30px;
  margin-left: 20px;
}


.searchWrapper {
  border: 0px !important;
  appearance: none;
}

.pass-wrapper {
  position: relative;
  display: flex;
  margin-bottom: 14px;
}

i {
  position: absolute;
  top: 61%;
  right: 6%;
}

i:hover {
  color: #00fcb6;
  cursor: pointer;
}

.requiredText {
  color: red;
}

.search-div {
  padding: 80px 20px;
  background: #394bb4;
  background: linear-gradient(90deg, #394bb4 12%, #6d79be 68%, #929bd2 86%);
}

.container-fluid {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

button.btn.btn-primary.srcButton {
  background-color: #3a51d3;
  border: 1px solid #3a51d3;
  color: #fff;
  font-weight: 600;
  height: 45px;
  border-radius: 15px;
  width: 100%;
}

input.form-control.mr-sm-2 {
  height: 45px;
  border-radius: 0 12px 12px 0;
}


span.input-group-text.bg-white {
  font-size: 20px;
  color: #3a51d3;
  border-radius: 12px;
}

.input-group {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  width: 85% !important;
  height: 40px;
}

.seachIcon {
  position: relative;
  top: 0px;
}

.carouselDiv {
  margin-top: 40px !important;
  margin-bottom: 80px !important;
}

.latestJob {
  font-size: 30px;
  font-weight: 600;
  color: #3a51d3;
  font-family: Nunito Sans, sans-serif;
  margin-top: 20px;
  margin-bottom: 40px;
  text-align: left;
}

.card {
  border-radius: 30px !important;
  border-color: #3a51d3 !important;




}

.card-title {
  color: #3a51d3;
  font-size: 20px !important;
  font-weight: 600 !important;
}


.card:hover {
  /* transform: scale(1.5); */
  animation-delay: -2s;
  box-shadow: 20px 20px 20px rgba(101, 108, 218, 0.12), 10px 4px 8px rgba(96, 57, 204, 0.06);
}

.carousel-control-next-icon {
  background-color: #3a51d3;
  width: 3rem !important;
  height: 3rem !important;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
  color: #3a51d3;
}

.carousel-control-prev-icon {
  background-color: #3a51d3;
  width: 3rem !important;
  height: 3rem !important;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
  color: #3a51d3;

}

.row {
  --bs-gutter-x: 0rem !important;
}


.carousel-control-prev {
  left: -113px !important;
  width: 10% !important;

}

.carousel-control-next {
  right: -113px !important;
  width: 10% !important;
}

.candidate-home-div {
  border: 1px solid #bab4b4;
  border-radius: 15px;
  padding: 20px 40px;
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: left;
}

.candidate-page {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.candidateH2 {
  font-size: 1.5vw;
  font-weight: 600;
  color: #aeadad;
}

.profileSection {
  display: flex;
  justify-content: space-evenly;
}

span.important-link {
  margin-bottom: 0;
  color: #3a51d3;
  font-size: 1vw;
  font-weight: 600;
  margin-left: 15px;
  cursor: pointer;
}

.dropdown {
  text-align: right !important;
  padding-right: 17px !important;
}



.job-status-section {
  display: flex;
  justify-content: space-evenly;

}

img.candidate-homepage {
  width: 100% !important;
  height: 80vh !important;
}

.csignup .nav-link.active {
  color: #fff !important;
  background-color: #3a51d3 !important;
}

.csignup .nav-link {
  background-color: #fff !important;
  color: #3a51d3 !important;
  border: 1px solid #3a51d3 !important;
  width: 20%;
}

.csignup {
  text-align: center;
}

.search-job-div {
  border: 1px solid #3a51d3;
  padding: 20px;
  border-radius: 12px;
  cursor: pointer;
  margin: 10px;
}

.job-title {
  font-size: 1.5vw;
  font-weight: 600;
  font-family: Nunito Sans, sans-serif;
  color: #3a51d3;

}

.job-sub-title {
  font-size: 1vw;
  font-weight: 500;
  font-family: Nunito Sans, sans-serif;
  color: #3a51d3;
}

.job-experience {
  font-size: .8vw;
  font-weight: 500;
  color: gray;
}

.job-skill {
  font-size: .8vw;
  font-weight: 500;
  color: gray;
}

button.btn.apply-btn {
  background-color: #3a51d3;
  color: #fff;
  border-radius: 12px;
  font-size: 1vw;
  font-weight: 600;
  padding: 15px;
  border: 1.5px solid #3a51d3;
  width: 80%;
  box-shadow: 0 7px 4px -1px rgb(58 81 211 / 75%);
  -webkit-box-shadow: 0 5px 4px -1px rgb(58 81 211 / 75%);
  -moz-box-shadow: 0 7px 4px -1px rgba(58, 81, 211, .75);
}


.candidate-search{

  background-color: #fff !important;
  background: none;

}


.profileBorder{
  border-right: 1 px solid blue !important;
  padding: 10px !important;
}
h2.job-title{
  font-size: 1.5vw;
    font-weight: 600;
    font-family: Nunito Sans,sans-serif;
    color: #3a51d3;
}
h4.company-name{
  font-size: 1.5vw;
    font-weight: 600;
    font-family: Nunito Sans,sans-serif;
    color: gray;
}
.text-right{
  text-align: right;
}

button.btn.applied-btn.not-job-applied {
  
  border: 1.5px solid #b1afaf;
  color: #3a51d3;
  font-size: 1vw;
  font-family: Nunito Sans,sans-serif;
  border-radius: 12px;
  width: 20%;
  margin-bottom: 10px;
  box-shadow: 0 5px 4px -1px hsl(0deg 3% 87% / 75%);

}
.headerIMG2{
  margin-left: -245px;
  margin-bottom: 10px;
}



.job-detail-second{
  width: 97%;
  margin: 20px;
  font-weight: 500;
  padding: 20px 30px;
  background-color: #fff;
    color: #3a51d3;
    font-size: 1vw;
    font-family: Nunito Sans,sans-serif;
    border: 1.5px solid #b1afaf;
    border-radius: 12px;
    box-shadow: 0 11px 4px -1px hsl(0deg 3% 87% / 75%);
    -webkit-box-shadow: 0 5px 4px -1px hsl(0deg 3% 87% / 75%);
}
.job-detail-other{
  font-size: .9vw;
    font-weight: 500;
    font-family: Nunito Sans,sans-serif;
    color: #706e6e;
}
.job-detail-description{
  margin: 20px;
  text-align: left;
  width: 97%;
    font-weight: 500;
    padding: 20px 30px;
    background-color: #fff;
    color: #3a51d3;
    font-size: 1vw;
    font-family: Nunito Sans,sans-serif;
    border: 1.5px solid #b1afaf;
    border-radius: 12px;
    box-shadow: 0 11px 4px -1px hsl(0deg 3% 87% / 75%);
    -webkit-box-shadow: 0 5px 4px -1px hsl(0deg 3% 87% / 75%);
}

.job-description-content{
  font-size: 1.2vw;
  font-weight: 600;
  font-family: Nunito Sans,sans-serif;
  color: #3a51d3;
}
.jobdetailsother{
 text-align: left;
}
.job-post-date{
  font-size: 1vw;
  font-weight: 600;
  color: gray;
  font-family: Nunito Sans,sans-serif;
}

.companyName{
  text-align: left;
}
.job-detail-div{
  margin-top: 2%;
}

.jobdetailsother2{
  text-align: left;
}
.titleAppyBtn.row {
  margin-left: 25px;
  margin-right: 31px;
}
.BreadcrumbDiv.col-sm-12 {
  padding-left: 28px;
  margin-bottom: 10px;
}
a.navbar-brand.header-titlee {
  color: #3a51d3;
  font-size: 24px;
  font-weight: 600;
}
.logoHeader {
  height: 79px !important;
  margin-left: -298px;
  padding-bottom: 10px;
}